<!-- src/app/features/fire-truck/components/controls/led-control.component.html -->
<div class="flex gap-4">
  <button
    (click)="toggleLed('red')"
    [class]="redLedState ? 'bg-red-500' : 'bg-gray-400 dark:bg-gray-600'"
    class="w-16 h-16 rounded-full hover:opacity-80 active:scale-95 text-white flex items-center justify-center transition-all duration-200"
  >
    <i class="fas fa-lightbulb"></i>
  </button>

  <button
    (click)="toggleLed('green')"
    [class]="greenLedState ? 'bg-green-500' : 'bg-gray-400 dark:bg-gray-600'"
    class="w-16 h-16 rounded-full hover:opacity-80 active:scale-95 text-white flex items-center justify-center transition-all duration-200"
  >
    <i class="fas fa-lightbulb"></i>
  </button>
</div>
